*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
.settings/
.project
*.weights
depth_frames/
rgb_frames/
*.mp4
*.hdf5
videos/
output/
exp_1/
old_exp/
Experiment_Frames/
*depth/
*rgb/